---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size:   1.2rem;
$small-font-size:  .7rem;
$base-line-height: 2rem;

$spacing-unit:     30px;

$text-color:       #c4c1d7;
$background-color: #352b69;
$brand-color:      #9590b5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
       	"https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600",
       	"../icomoon/style.css"
;
