<footer>
	<ul>
		<li>
			<a href="mailto:jonatan@maennchen.ch">
				<i class="icon-mail"></i>
			</a>
		</li>
		<li>
			<a href="https://github.com/maennchen" rel="me">
				<i class="icon-github"></i>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/maennchen_" rel="me">
				<i class="icon-twitter"></i>
			</a>
		</li>
		<li>
			<a href="https://ch.linkedin.com/pub/jonatan-männchen/42/690/38" rel="me">
				<i class="icon-linkedin"></i>
			</a>
		</li>
		<li>
			<a href="https://www.xing.com/profile/Jonatan_Maennchen" rel="me">
				<i class="icon-xing"></i>
			</a>
		</li>
	</ul>
</section>