<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark light">

  {% seo %}

  <link rel="stylesheet" href="{{ "/css/main.css?v=" | prepend: site.baseurl | append: site.asset_version }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
  {% endif %}

  {% if page.url == "/" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Jonatan Männchen",
    "url": "{{ site.url }}/",
    "image": "{{ site.url }}/android-chrome-512x512.png",
    "email": "mailto:{{ site.email }}",
    "jobTitle": "Chief Information Security Officer",
    "worksFor": {
      "@type": "Organization",
      "name": "Erlang Ecosystem Foundation",
      "url": "https://erlef.org/"
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Winterthur",
      "addressCountry": "CH"
    },
    "sameAs": [
      "https://github.com/maennchen",
      "https://www.linkedin.com/in/maennchen",
      "https://bsky.app/profile/maennchen.dev",
      "https://twitter.com/maennchen_",
      "https://sessionize.com/maennchen/",
      "https://orcid.org/0009-0009-5482-5271"
    ]
  }
  </script>
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>