#ie {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	max-width: 90%;
	width: 90%;
	border:3px solid #c33;
	background:#fcc; color:#000;
}
#ie h4,
#ie p {
	margin:8px;
	padding:0;
}