@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sy7npc');
  src:  url('fonts/icomoon.eot?sy7npc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sy7npc') format('truetype'),
    url('fonts/icomoon.woff?sy7npc') format('woff'),
    url('fonts/icomoon.svg?sy7npc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-address:before {
  content: "\e944";
}
.icon-mail:before {
  content: "\e945";
}
.icon-phone:before {
  content: "\e959";
}
.icon-code:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea8e";
}
.icon-twitter:before {
  content: "\ea93";
}
.icon-github:before {
  content: "\eab4";
}
.icon-linkedin:before {
  content: "\eac8";
}
.icon-xing:before {
  content: "\ead3";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-key:before {
  content: "\e98d";
}
